.menu-element-li {
    transition: all ease-in-out .1s ;

    &:active {
        transform: translateY(-5px);
        
    }

    &.active a {
        color: yellowgreen;
    }

    a {
        color:white;
        text-decoration: none;
        font-size: 18px;
        transition: all ease-in-out .2s ;


        &:hover {
            
            color: #189c9a;
        }
    }



}