

.time-left-container {
    position: relative;
    cursor: pointer;
    width: 150px;
    display: flex;
    justify-content: center;
    height: auto;
    .time-text {
        width: auto;
        width:auto;
        // background-color: red;
    
    }
    
    .lower-text-container {
        position: absolute;
        width: 100%;
        top:50%;
        // background-color: red;
    
        text-align: center;
        .lower-text {
            width: 100%;;
            font-size: 10px;
            text-decoration: underline;
            
        }
    }
}