.big-header-container {
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .big-header {
        color:black;
        font-size: 2.5em;
    }
}