.alert-container {
    position: absolute;
    width:320px;
    height: 120px;
    background-color: #e0e0e0;
    border:1px solid black;
    // border: 1px solid #0E131F;
    left:99%;
    border-radius: 15px;
    top:99%;
    transform: translate(-100%, -100%);
    overflow:hidden;

    .alert-header-container {
        width:100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .alert-header {
            margin:0;
            padding: 0;
            width:100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }
    }

    .alert-sub-container {
        width:100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        .alert-sub {
            font-size: 18px;
            width:100%;
            height: 100%;
            margin:0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}