.menu-container {
    background-color: #0E131F;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;

    
    .menu-items-container {
        width: 80%;
        color:white;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0 30px;

    }


}